body {
  margin: 0;
  padding: 0;
  background-color: lightgoldenrodyellow;
}
.left {
  width: 7%;
  background-color: darkgoldenrod;
  height: 690px;
  float: left;
}
.logo1 {
  width: 100%;
  height: 30px;
  font-size: 40px;
  padding-left: 23px;
  padding-top: 5px;
  margin-top: 40px;
}
.logo2 {
  width: 100%;
  height: 30px;
  font-size: 40px;
  padding-left: 16px;
  padding-top: 5px;
  margin-top: 40px;
}
.logo3 {
  width: 100%;
  height: 30px;
  font-size: 40px;
  padding-left: 16px;
  padding-top: 5px;
  margin-top: 40px;
}
.logo4 {
  width: 100%;
  height: 30px;
  font-size: 40px;
  padding-left: 16px;
  padding-top: 5px;
  margin-top: 250px;
}
.logo5 {
  width: 100%;
  height: 30px;
  font-size: 40px;
  padding-left: 18px;
  padding-top: 5px;
  margin-top: 25px;
}
.logo6 {
  width: 100%;
  height: 30px;
  font-size: 40px;
  padding-left: 16px;
  padding-top: 5px;
  margin-top: 25px;
}
.button {
  height: 30px;
  width: 100%;
  float: left;
  margin-top: -1.5cm;
}
.right {
  width: 90%;
  height: 650px;
  background-color: lightgoldenrodyellow;
  float: left;
}
.rightHeader {
  height: 80px;
  width: 100%;
  float: left;
}
.search {
  width: 40%;
  height: 80px;
  float: left;
  padding-top: 5px;
}
.BlogArticle {
  width: 20%;
  height: 80px;
  float: left;
}
button {
  border: none;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  margin-top: 1cm;
  padding-left: 1cm;
  background-color: lightgoldenrodyellow;
}
.Specialoffer {
  width: 20%;
  height: 80px;
  float: left;
}
.FAQ {
  width: 20%;
  float: left;
  height: 80px;
}
input {
  border-radius: 20px 20px 20px 20px;
  width: 90%;
  height: 40px;
  padding-left: 10px;
  margin-left: 10px;
}
.Middle {
  float: left;
  height: 260px;
  width: 100%;
}
.ImageMiddle {
  float: left;
  height: 260px;
  width: 36%;
  background-image: url('https://ktmt.vnmediacdn.com/images/2021/07/20/13-1626735143-anh-xay-xanh-1.jpg') ;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: 10px;
  border-radius: 5px 5px 5px 5px;
}
.TextMiddle {
  height: 260px;
  width: 60%;
  float: left;
}
.Text1 {
  height: 140px;
  width: 100%;
  float: left;
  font-size: 45px;
  line-height: 0.1;
 text-align: center;
}
.Text2 {
  height: 120px;
  width: 100%;
  font-size: 20px;
  float: left;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  margin-top: -0.7cm;
}
.Shopbycollection {
  width: 100%;
  height: 60px;
  float: left;
  background-color: rgb(231, 196, 109);
  margin-left: 2%;
  margin-right: 5%;
  margin-top: 20px;
  border-radius: 7px 7px 7px 7px;
}
.Bottom {
 width: 100%;
 float: left;
 height: 250px;
 margin-top: 10px;
 margin-left: 20px;
}
.IMGandBUTTON1 {
  width: 22%;
  height: 100%;
  float: left;
  margin-left: 20px;

}
.IMGandBUTTON2 {
  width: 22%;
  height: 100%;
  float: left;
  margin-left: 20px;
}
.IMGandBUTTON3 {
  width: 22%;
  height: 100%;
  float: left;
  margin-left: 20px;
}
.IMGandBUTTON4 {
  width: 22%;
  height: 100%;
  margin-left: 20px;
  float: left;
}
.IMG1 {
  width: 100%;
  height: 70%;
  background-image: url('https://down-vn.img.susercontent.com/file/vn-11134207-7qukw-lfhu5oj1d9x147');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.IMG1,.IMG2,.IMG3,.IMG4,.BUTTON1,.BUTTON2,.BUTTON3,.BUTTON4 {
  border-radius: 20px 20px 20px 20px;
}
.BUTTON1 {
  margin-top: -0.5cm;
  height: 30%;
  float: left;
  width: 100%;
}
.BUTTON2 {
  margin-top: -0.5cm;
  height: 30%;
  float: left;
  width: 100%;
}
.BUTTON3 {
  margin-top: -0.5cm;
  height: 30%;
  float: left;
  width: 100%;
}
.BUTTON4 {
  margin-top: -0.5cm;
  height: 30%;
  float: left;
  width: 100%;
}
.IMG2 {
  width: 100%;
  height: 70%;
  background-image: url('https://congcubonsai.com/wp-content/uploads/2018/08/Huong-dan-cat-tia-canh-cay-bonsai-co-ban.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.IMG3 {
  width: 100%;
  height: 70%;
  background-image: url('https://bebe.net.vn/wp-content/uploads/2021/07/avtxuyenchi-1554784393-393-width640height480_schema_article.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.IMG4 {
  width: 100%;
  height: 70%;
  background-image: url('https://cdn.mos.cms.futurecdn.net/xEiQn9GLJEjLCxzGyengM8-1200-80.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}